@charset "utf-8";
/* CSS Document */
* 
		{margin: 0;
		padding: 0;
		}
body
		{display: grid;
		justify-content: center;
		width: 100%;
		height: 100%;
		overflow-x: hidden}
/*--nav--*/
.nav 	
		{font-size: 40px;
		font-family: 'Bonheur Royale', cursive;
		padding: 50px 0 0 0;
		/*background-color: #182226;--inicio--*/
		position: absolute
		}
.navul
		{list-style-type: none;
		display: flex;
		justify-content: center;
		}
.navli
		{margin: 0px 180px;
		text-decoration: none;
		color:#F2F2F2;
		}
/*--inicio--*/
.section1
		{background-image: url("imagenes/montaña.JPG");
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: center;
		display: flex;
		justify-content: center;
		align-items: center; 
		/*background-color: #182226;--inicio--*/
		}

.titulo1 
		{color:#1A2E40;
		font-family: 'Bonheur Royale', cursive;
		font-size: 250px;
		font-weight: 500;
		padding: 35% 0;
		margin: 0;	
		
		}
.titulo2
		{color:#F2F2F2;
		font-family: 'Bebas Neue', sans-serif;
		font-size: 150px;
		font-weight: 500;
		position: absolute;
		top:42%;
		left:30%}
/*.box
		{background-color: #000000;
		opacity: 0.5;
		border-radius: 40px;
		box-sizing: border-box;
		width: 0;
		height: 0;
		display: flex;
		padding: 20% 45%;*/
		
/*--sobre mi--*/
.section2
		{padding-top: 150px;
		background-color: #1A2E40;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-wrap: nowrap;
		flex-direction: row;
		padding-bottom: 150px;
		}
.divsec2
		{background-image: url( "imagenes/banco.JPG");
		box-shadow: 2px 2px 4px #000000;
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;
		display: flex;
		justify-content: center;
		align-items: center; 
		width: 70%;
		background-color: #000000;
		opacity: 0.7;
		}
#sobremi
		{font-family: 'Bebas Neue', sans-serif;
		color:#1A2E40;
		font-size: 40px;
		font-weight: 500;
		padding: 10% 0 40% 10%;
		}
.psobremi
		{font-family: 'Bebas Neue', sans-serif;
		font-size: 20px;
		font-weight: 500;
		text-align: center;
		color: #0E3659;
		padding: 0 0 0 0; 
		background-color: #FFFFFF;
		opacity: 0.5;
		border-radius: 10%;
		
		}
.fotos 
		{padding: 0 15% 0 10%;}

/*--experiencia--*/
.section3 
		{margin: 0;
		padding: 0;
		background-color: #F2F2F2;
		background-image: url("imagenes/mar.JPG");
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;
		height: 26%

		}
.divexp
		{display: flex;
		justify-content: center;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		background-color: #000000;
		opacity: 0.5;
		margin: 0 0 0% 25%;
		padding-top: 3%;
		box-sizing: border-box;
		}
.olexpfechas
		{font-family: 'Bebas Neue', sans-serif;
		font-size: 20px;
		font-weight: 500;
		list-style-type: none;
		color: #E9EFF2;
		}
.liexp
		{padding: 0 0 15% 30%
		}
#experiencia
		{font-family: 'Bebas Neue', sans-serif;
		color:#1A2E40;
		font-size: 40px;
		font-weight: 500;
		padding: 0% 0 10% 10%;
		height: 50px;
		position: relative;
		top: 100px;
		}
/*--estudios--*/
.section4
		{background-color: #1A2E40;
		display: grid;
		justify-items: center;	
		}
#estudios
		{font-family: 'Bebas Neue', sans-serif;
		color:#8EA3BF;
		font-size: 40px;
		font-weight: 500;
		display: flex;
		justify-content:center;
		padding-top:10%;
		padding-bottom: 10%
		}
.olestfechas
		{font-family: 'Bebas Neue', sans-serif;
		font-size: 20px;
		font-weight: 500;
		list-style-type: none;
		margin: 0 30px 0 0;
		text-align:center;
		color: #E9EFF2;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 5% 70% 0
		
		}
.olest
		{font-family: 'Bebas Neue', sans-serif;
		font-size: 20px;
		font-weight: 500;
		list-style-type: none;
		margin: 0 30px 0 0;
		text-align:center;
		color: #E9EFF2;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		padding-bottom: 10%;
		padding: 5%;
		width: 100%;
		}
.edfechasa, .edfechasb, .edfechasc 
		{padding: 0 13%;
		}
#logomontessori, #logounla, #logoit
		{padding: 0 10%
		}
/*--footer--*/
footer
		{background-image: url("imagenes/nieve.jpg");
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: center;
		
		}
#contacto
		{font-family: 'Bebas Neue', sans-serif;
		color:#E9EFF2;
		font-size: 40px;
		font-weight: 500;
		display: flex;
		justify-content: center;
		padding-top: 50px;
		}
.mail
		{color:#E9EFF2;
		font-size: 20px;
		font-weight: 500;
		text-decoration: none;
		}
.numero
		{color:#E9EFF2;
		font-size: 20px;
		font-weight: 500;
		}