@charset "utf-8";
/* CSS Document */
* 
		{margin: 0;
		padding: 0;
		}
body
		{display: grid;
		justify-content: center;
		width: 100%;
		height: 100%;
		overflow-x: hidden}
/*--nav--*/
.menu
		{visibility: hidden;
		}
.nav 	
		{font-size: 2.5em;
		font-family: 'Bonheur Royale', cursive;
		padding: 50px 0 0 0;
		position: absolute;
		}
.navul
		{list-style-type: none;
		display: flex;
		justify-content: center;
		}
.navli
		{margin: 0 180px;
		text-decoration: none;
		color:#F2F2F2;
		}
/*--inicio--*/
.section1
		{background-image: url("imagenes/montaña.JPG");
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: center;
		display: flex;
		justify-content: center;
		align-items: center; 
		}

.titulo1 
		{color:#1A2E40;
		font-family: 'Bonheur Royale', cursive;
		font-size: 15.625em;
		font-weight: 500;
		padding: 35% 0;
		margin: 0;	
		
		}
.titulo2
		{color:#F2F2F2;
		font-family: 'Bebas Neue', sans-serif;
		font-size: 9.375em;
		font-weight: 500;
		position: absolute;
		top:42%;
		left:30%
		}	
/*--sobre mi--*/
.section2
		{padding-top: 150px;
		background-color: #1A2E40;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-wrap: nowrap;
		flex-direction: row;
		padding-bottom: 150px;
		}
.divsec2
		{background-image: url( "imagenes/banco.JPG");
		box-shadow: 2px 2px 4px #000000;
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;
		display: flex;
		justify-content: center;
		align-items: center; 
		width: 90%;
		background-color: #000000;
		opacity: 0.7;
		}
#sobremi
		{font-family: 'Bebas Neue', sans-serif;
		color:#1A2E40;
		font-size: 2.5em;
		font-weight: 500;
		padding: 10% 0 40% 10%;
		}
.psobremi
		{font-family: 'Bebas Neue', sans-serif;
		font-size: 20px;
		font-weight: 500;
		text-align: center;
		color: #0E3659;
		background-color: #FFFFFF;
		opacity: 0.5;
		border-radius: 10%;
		}
.fotos 
		{padding: 0 15% 0 10%;}

/*--experiencia--*/
.section3 
		{margin: 0;
		padding: 0;
		background-color: #F2F2F2;
		background-image: url("imagenes/mar.JPG");
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;
		height: 25%

		}
.divexp
		{display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: flex-start;
		background-color: #000000;
		opacity: 0.5;
		margin: 0 0 0 25%;
		padding-top: 3%;
		box-sizing: border-box;
		}
.olexpfechas
		{font-family: 'Bebas Neue', sans-serif;
		font-size: 1.5em;
		font-weight: 500;
		list-style-type: none;
		color: #E9EFF2;
		}
.liexp
		{padding: 0 0 15% 30%
		}
#experiencia
		{font-family: 'Bebas Neue', sans-serif;
		color:#1A2E40;
		font-size: 2.5em;
		font-weight: 500;
		padding: 0% 0 10% 10%;
		height: 50px;
		position: relative;
		top: 100px;
		}
/*--estudios--*/
.section4
		{background-color: #1A2E40;
		display: grid;
		justify-items: center;	
		}
#estudios
		{font-family: 'Bebas Neue', sans-serif;
		color:#8EA3BF;
		font-size: 2.5em;
		font-weight: 500;
		display: flex;
		justify-content:center;
		padding-top:10%;
		padding-bottom: 10%
		}
.divest 
		{width: 100%;
		}
.olestfechas
		{font-family: 'Bebas Neue', sans-serif;
		font-size: 1.25em;
		font-weight: 500;
		list-style-type: none;
		text-align:center;
		color: #E9EFF2;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		padding: 0 0% 30% 0
		}
.edfechasa, .edfechasb, .edfechasc 
		{margin: 5% 10% 0 13%;
		
		}
#logomontessori, #logounla, #logoit
		{padding: 0 11% 0 13%;
		}
/*--footer--*/
footer
		{background-image: url("imagenes/nieve.JPG");
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: center;
		display: grid;
		justify-items: center;
		justify-content: center;
		}
#contacto
		{font-family: 'Bebas Neue', sans-serif;
		color:#E9EFF2;
		font-size: 2.5em;
		font-weight: 500;
		padding-top: 50px;
		}
.mail, .numero
		{color:#E9EFF2;
		font-size: 1.25em;
		font-weight: 500;
		text-decoration: none;
		padding: 5% 30% 0 10%;
		display: inline;
		}
#mail, #tel
		{padding:5% 30% 0 30%;
		}
.divfooter
		{width: 100%;
		padding: 0 0 5% 0;
		}
.divmail, .divtel
		{display: flex;
		justify-content: center;
		}
/* ......../ media query /.......... */
@media screen and (max-width: 600px)
/*--nav--*/
{.menu
		{visibility: visible;}
.nav
		{visibility: hidden;}
	
#palanca 
		{opacity: 0;}
#palanca:checked + .boton > span 
		{transform: rotate(45deg);}
#palanca:checked + .boton > span::before 
		{top: 0;
		transform: rotate(0deg);
		}
#palanca:checked + .boton > span::after 
		{top: 0;
		transform: rotate(90deg);
		}
#palanca:checked ~ .menubox 
		{left: 0 !important;}
.boton 
		{position: fixed;
		top: 20px;
		left: 20px;
		width: 26px;
		height: 26px;
		cursor: pointer;
		z-index: 1;
		}
.boton > span,
.boton > span::before,
.boton > span::after {
  	display: block;
  	position: absolute;
  	width: 100%;
  	height: 2px;
  	background-color: #FFFFFF;
  	transition-duration: .25s;
}
.boton > span::before 
		{content: '';
		top: -8px;
		}
.boton > span::after 
		{content: '';
		top: 8px;
		}
.menubox 
		{display: block;
		position: fixed;
		top: 0;
		left: -100%;
		width: 300px;
		height: 100%;
		margin: 0;
		padding: 80px 0;
		list-style: none;
		background-color: #ECEFF1;
		box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
		transition-duration: .25s;
		}
	.menuitem 
		{display: block;
		padding: 12px 24px;
		color: #333;
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		font-weight: 600;
		text-decoration: none;
		transition-duration: .25s;
		}
.menuitem:hover 
		{background-color: #CFD8DC;
		}
.section1
		{background-size: auto;
		}
/*--inicio--*/
.titulo1 
		{font-size: 7em;
		}
.titulo2
		{font-size: 4em;
		top:20%;
		}
/*--sobre mi--*/
.section2
		{padding-top: 100px;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-wrap: nowrap;
		flex-direction: row;
		padding-bottom: 100px;
		}
.divsec2
		{background-size: auto;
		}
#sobremi
		{font-size: 2em;
		padding: 10% 5% 40% 10%;
		}
.psobremi
		{font-size: 0.85em;
		border-radius: 10%;
		}
.fotos 
		{padding: 0 5% 0 8%;
		width: 50%;
		height: 50%;}
/*--experiencia--*/
.section3 
		{
		background-size: auto;
		height: 25%

		}
.divexp
		{margin: 0 0 0 25%;
		}
	.olexpfechas
		{font-size: 0.85em;
		font-weight: 100;
		}
.liexp
		{padding: 0 0 15% 30%
		}
#experiencia
		{font-size: 2em;
		padding: 0% 45% 10% 45%;
		height: 100px;
		}
/*--estudios--*/
#estudios
		{font-size: 2em;
		}
.olestfechas
		{font-size: 0.85em;
		font-weight: 100;
		}
.edfechasa, .edfechasb, .edfechasc 
		{margin: 5% 10% 0 13%;
		
		}
#logomontessori, #logounla, #logoit
		{width: 10%;
		height: 12%;
		}
/*--footer--*/
#contacto
		{font-size: 2em;
		}
.mail, .numero
		{font-size: 0.85em;
		padding: 5% 10% 0 10%;
		}
#mail, #tel
		{padding:5% 10% 0 30%;
		width: 10%;
		height: 10%;
		}
.divfooter
		{width: 100%;
		padding: 0 0 5% 0;
		}
}